@using System.Web.UI.WebControls
@using Vape.CMS.DAL.Functions
@model Vape.CMS.DAL.DTO.ProductMaintenanceDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.ProductId)
@Html.HiddenFor(m => m.ProductColorTieDto.ProductColorTieId)
@Html.HiddenFor(m => m.ProductNicotineTieDto.ProductNicotineTieId)
@Html.HiddenFor(m => m.ProductSizeTieDto.ProductSizeTieId)

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Add Product</h4>
            </div>
            <div class="card-content">

                <form>

                </form>

            </div>
        </div>
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Colors</h4>
            </div>
            <div class="card-content">

                <form>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.ProductColorTieDto.ColorId, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.ProductColorTieDto.ColorId,
new SelectList(ColorFunctions.GetAllProductColors().Select
(x => new KeyValuePair<int, string>(x.ColorId, x.Color)), "Key", "Value"),
new { @class = "form-control" })
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductColorTieDto.ColorAmount, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductColorTieDto.ColorAmount, new { @class = "form-control", type = "text" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductColorTieDto.ColorDiscount, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductColorTieDto.ColorDiscount, new { @class = "form-control", type = "text" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductColorTieDto.ColorStock, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductColorTieDto.ColorStock, new { @class = "form-control", type = "number" })
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <button id="SaveColor" type="button" class="btn btn-danger pull-right">Save</button>
                        @Html.ActionLink("Cancel", "Products", null, new { @class = "btn btn-danger pull-right" })
                        <div class="clearfix"></div>

                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Color</th>
                                        <th>Amout</th>
                                        <th>Discount</th>
                                        <th>Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var productColors in Vape.CMS.DAL.Functions.ProductFunctions.GetAllProductColors())
                                {
                                    <tr>
                                        <td>@productColors.Color</td>
                                        <td>@productColors.ColorAmount</td>
                                        <td>@productColors.ColorDiscount</td>
                                        <td>@productColors.ColorStock</td>
                                        @*<td>@Html.ActionLink("cached", "UserMaintenance", new {userGuid = @Model.UserGuid}, new {@class = "material-icons"})</td>*@
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                @*<ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("UserMaintenance", "Users", new { userGuid = @user.UserGuid })">
                                                            <i class="material-icons">create</i>
                                                            <p class="actionText">Edit</p>
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="@Url.Action("DeleteUserProfile", "Users", new { userGuid = @user.UserGuid})">
                                                            <i class="material-icons">delete</i>
                                                            <p class="actionText">Delete</p>
                                                        </a>
                                                    </li>
                                                </ul>*@
                                            </div>
                                        </td>
                                    </tr>
                            }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Nicotine</h4>
            </div>
            <div class="card-content">

                <form>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.ProductNicotineTieDto.NicotineId, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.ProductNicotineTieDto.NicotineId,
new SelectList(NicotineFunctions.GetAllProductNicotine().Select
(x => new KeyValuePair<int, double>(x.NicotineId, x.Nicotine)), "Key", "Value"),
new { @class = "form-control" })
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductNicotineTieDto.NicotineAmount, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductNicotineTieDto.NicotineAmount, new { @class = "form-control", type = "text" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductNicotineTieDto.NicotineDiscount, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductNicotineTieDto.NicotineDiscount, new { @class = "form-control", type = "text" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductNicotineTieDto.NicotineStock, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductNicotineTieDto.NicotineStock, new { @class = "form-control", type = "number" })
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <button id="SaveNicotine" type="button" class="btn btn-danger pull-right">Save</button>
                        @Html.ActionLink("Cancel", "Products", null, new { @class = "btn btn-danger pull-right" })
                        <div class="clearfix"></div>

                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Nicotine</th>
                                        <th>Amout</th>
                                        <th>Discount</th>
                                        <th>Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var productNicotine in Vape.CMS.DAL.Functions.ProductFunctions.GetAllProductNicotine())
                                {
                                    <tr>
                                        <td>@productNicotine.Nicotine</td>
                                        <td>@productNicotine.NicotineAmount</td>
                                        <td>@productNicotine.NicotineDiscount</td>
                                        <td>@productNicotine.NicotineStock</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                @*<ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("UserMaintenance", "Users", new { userGuid = @user.UserGuid })">
                                                            <i class="material-icons">create</i>
                                                            <p class="actionText">Edit</p>
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="@Url.Action("DeleteUserProfile", "Users", new { userGuid = @user.UserGuid})">
                                                            <i class="material-icons">delete</i>
                                                            <p class="actionText">Delete</p>
                                                        </a>
                                                    </li>
                                                </ul>*@
                                            </div>
                                        </td>
                                    </tr>
                            }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Sizes</h4>
            </div>
            <div class="card-content">

                <form>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    @Html.LabelFor(model => model.ProductSizeTieDto.SizeId, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.ProductSizeTieDto.SizeId,
new SelectList(SizeFunctions.GetAllProductSizes().Select
(x => new KeyValuePair<int, int>(x.SizeId, x.Size)), "Key", "Value"),
new { @class = "form-control" })
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductSizeTieDto.SizeAmount, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductSizeTieDto.SizeAmount, new { @class = "form-control", type = "text" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductSizeTieDto.SizeDiscount, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductSizeTieDto.SizeDiscount, new { @class = "form-control", type = "text" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                @Html.LabelFor(model => model.ProductSizeTieDto.SizeStock, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ProductSizeTieDto.SizeStock, new { @class = "form-control", type = "number" })
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <button id="SaveSize" type="button" class="btn btn-danger pull-right">Save</button>
                        @Html.ActionLink("Cancel", "Products", null, new { @class = "btn btn-danger pull-right" })
                        <div class="clearfix"></div>

                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Size</th>
                                        <th>Amout</th>
                                        <th>Discount</th>
                                        <th>Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var productSizes in Vape.CMS.DAL.Functions.ProductFunctions.GetAllProductSizes())
                                {
                                    <tr>
                                        <td>@productSizes.Size</td>
                                        <td>@productSizes.SizeAmount</td>
                                        <td>@productSizes.SizeDiscount</td>
                                        <td>@productSizes.SizeStock</td>
                                        @*<td>@Html.ActionLink("cached", "UserMaintenance", new {userGuid = @Model.UserGuid}, new {@class = "material-icons"})</td>*@
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                                    Actions
                                                    <b class="caret"></b>
                                                </a>
                                                @*<ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("UserMaintenance", "Users", new { userGuid = @user.UserGuid })">
                                                            <i class="material-icons">create</i>
                                                            <p class="actionText">Edit</p>
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="@Url.Action("DeleteUserProfile", "Users", new { userGuid = @user.UserGuid})">
                                                            <i class="material-icons">delete</i>
                                                            <p class="actionText">Delete</p>
                                                        </a>
                                                    </li>
                                                </ul>*@
                                            </div>
                                        </td>
                                    </tr>
                            }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#SaveProduct").on("click", function () {
            SaveProduct();
        });
        $("#SaveColor").on("click", function () {
            SaveColor();
        });
        $("#SaveNicotine").on("click", function () {
            SaveNicotine();
        });
        $("#SaveSize").on("click", function () {
            SaveSize();
    });

    function SaveProduct() {
        var myData = {
            ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
            Product: $("#Product").val(),
            Amount: $("#Amount").val(),
            Discount: $("#Discount").val(),
            Discription: $("#Discription").val(),
            CategoryId: $("#CategoryId").val()
        }

        console.log('Page Data', myData);

        $.ajax({
            url: '/Products/CreateUpdateProducts',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(myData),
            success: function (result) {
                window.location.reload();
            },
            error: function (err) {
                console.log('err');
                alert(err.statusText);
            }
        });
    };



    function SaveColor() {
        var myData = {
            ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
            ColorId: ($("#ProductColorTieDto_ColorId").val() === 0) ? null : $("#ProductColorTieDto_ColorId").val(),
            ColorAmount: $("#ProductColorTieDto_ColorAmount").val(),
            ColorDiscount: $("#ProductColorTieDto_ColorDiscount").val(),
            ColorStock: $("#ProductColorTieDto_ColorStock").val()
        }

        console.log('Page Data', myData);

        $.ajax({
            url: '/Products/CreateUpdateProductColor',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(myData),
            success: function (result) {
                $("#ColorId").val(result);
            },
            error: function (err) {
                console.log('err');
                alert(err.statusText);
            }
        });
    };


    function SaveNicotine() {
        var myData = {
            ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
            NicotineId: ($("#ProductNicotineTieDto_NicotineId").val() === 0) ? null : $("#ProductNicotineTieDto_NicotineId").val(),
            NicotineAmount: $("#ProductNicotineTieDto_NicotineAmount").val(),
            NicotineDiscount: $("#ProductNicotineTieDto_NicotineDiscount").val(),
            NicotineStock: $("#ProductNicotineTieDto_NicotineStock").val()
        }

        console.log('Page Data', myData);

        $.ajax({
            url: '/Products/CreateUpdateProductNicotine',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(myData),
            success: function (result) {
                $("#NicotineId").val(result);
            },
            error: function (err) {
                console.log('err');
                alert(err.statusText);
            }
        });
    };

    function SaveSize() {
        var myData = {
            ProductId: ($("#ProductId").val() === 0) ? null : $("#ProductId").val(),
            SizeId: ($("#ProductSizeTieDto_SizeId").val() === 0) ? null : $("#ProductSizeTieDto_SizeId").val(),
            SizeAmount: $("#ProductSizeTieDto_SizeAmount").val(),
            SizeDiscount: $("#ProductSizeTieDto_SizeDiscount").val(),
            SizeStock: $("#ProductSizeTieDto_SizeStock").val()
        }

        console.log('Page Data', myData);

        $.ajax({
            url: '/Products/CreateUpdateProductSize',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(myData),
            success: function (result) {
                $("#SizeId").val(result);
            },
            error: function (err) {
                console.log('err');
                alert(err.statusText);
            }
        });
    };

</script>
