
@model Vape.CMS.DAL.Entities.Category
@{
    ViewBag.Title = "Categories";
}

@Html.HiddenFor(m => m.CategoryId);

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">@ViewBag.Title</h4>
                <p class="category">List of Categories</p>
                <a class="material-icons tableAddBtn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    add_circle
                </a>
            </div>
            <div class="card-content table-responsive">

                <div class="collapse" id="collapseExample">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card gray">
                                <div class="card-header" data-background-color="black">
                                    <h4 class="title">Add Category</h4>
                                </div>
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-danger label-floating is-empty">
                                                    @Html.LabelFor(model => model.CategoryDesc, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.CategoryDesc, new { @class = "form-control", type = "text" })
                                                </div>
                                            </div>

                                            <button id="SaveCategory" type="button" class="btn btn-danger pull-right">Save</button>
                                            @Html.ActionLink("Cancel", "Categories", null, new { @class = "btn btn-danger pull-right" })
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <table class="table">
                    <thead class="text-danger">
                        <tr>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Category in Vape.CMS.DAL.Functions.CategoryFunctions.GetAll())
                        {
                            <tr>
                                <td>@Category.CategoryDesc</td>
                                <td>
                                    <div class="dropdown pull-right">
                                        <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a id="EditCategory" onclick="EditCategory(@Category.CategoryId);" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="material-icons">create</i>
                                                    <p class="actionText">Edit</p>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="@Url.Action("DeleteCategory", "Category", new {CategoryId = @Category.CategoryId })">
                                                    <i class="material-icons">delete</i>
                                                    <p class="actionText">Delete</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(function () {
        $("#SaveCategory").on("click", function () {
            SaveCategory();
        });
    });

    function SaveCategory() {
        var myData = {
            CategoryId: $("#CategoryId").val(),
            CategoryDesc: $("#CategoryDesc").val(),
        }

        console.log('Page Data', myData);

        $.ajax({
            url: '/Category/CreateUpdateCategory',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(myData),
            success: function (result) {
                var url = '@Url.Action("Categories", "Category")';
                window.location.href = url;
            },
            error: function (err) {
                console.log('err');
                alert(err.statusText);
            }
        });
    };

    function EditCategory(categoryId) {

        var myData = {
            CategoryId: categoryId,
        }

        $.ajax({
            url: '/Category/GetCategory',
            type: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(myData),
            success: function (result) {
                $("#CategoryId").val(result.CategoryId);
                $("#CategoryDesc").val(result.CategoryDesc).trigger("change");

            },
            error: function (err) {
                console.log('err');
                alert(err.statusText);
            }
        });
    };



</script>
